{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block content %}
{% ifequal rol.categoria 1 %}
<center><h2 class="text-danger"><strong> ELIMINACIÓN DE ROLES DE SISTEMA</strong></h2></center>
{% else %}
<center><h2 class="text-danger"><strong> ELIMINACIÓN DE ROLES DE PROYECTO</strong></h2></center>
{% endifequal %}
<center><h2><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></h2></center><br>

{% if eliminar_rol %}
   {% if mensaje %}
      {% autoescape off %}
         <center><h3><p> SE HA PRODUCIDO EL SIGUIENTE INCONVENIENTE: </p></h3>
                 <h4><p><em> {{ mensaje }} </em></p></h4>
         </center>
      {% endautoescape %}
         {% ifequal rol.categoria 1 %}
	    <center><input type="button" class= "btn btn-default" value="VOLVER" onClick = "location.href='/roles/sist' "/></center>
         {% else %}
            <center><input type="button" class= "btn btn-default" value="VOLVER" onClick = "location.href='/roles/proy' "/></center>
         {% endifequal %}
   {% else %}
      <form id="form_id" action="" method="post">
         {% csrf_token %}
            <center><p>
                       {% ifequal rol.categoria 1 %}
                       <h4><strong>¿ESTÁS SEGURO DE QUERER ELIMINAR EL ROL DE SISTEMA: "{{rol}}"?</strong></h4><br>
                       <span class="optionbuttons">
                          <input type="submit" class= "btn btn-default" value="SI"/>&nbsp;&nbsp;&nbsp;&nbsp;
	                  <input type="button" class= "btn btn-default" value="NO" onClick = "location.href='/roles/sist'"/>
                       </span>
                       {% else %}
                          <h4><strong>¿ESTÁS SEGURO DE QUERER ELIMINAR EL ROL DE PROYECTO: "{{rol}}"?</strong></h4><br>
                       <span class="optionbuttons">
                          <input type="submit" class= "btn btn-default" value="SI"/>&nbsp;&nbsp;&nbsp;&nbsp;
	                  <input type="button" class= "btn btn-default" value="NO" onClick = "location.href='/roles/proy'"/>
                       </span>
                       {% endifequal %}
                    </p>
            </center>
      </form>
   {% endif %}
{% else %}
   <center><h4><p><strong>NO POSEE LOS PERMISOS PARA VER ESTA SECCIÓN</p></h4></center>
{% endif %}
{% endblock%}
