{% extends "base.html" %}
{% block title %} Roles de Sistema {% endblock %}
{% block content %}

<style type="text/css">
        .alert-danger {
            background: rgba(196,196,196,1);
background: -moz-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(196,196,196,1)), color-stop(0%, rgba(191,191,191,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: linear-gradient(to right, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#b5b5b5', GradientType=1 );
            border-color: #808080;
        border-radius: 0px 0px 10px 0px;

        display: block;
font-size: 15px;
font-weight: bold;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
margin-left: -5px;

        }


        .nav-list-tools>li.nav-header-tools {
background-color: #8B0000;
background-position: 8px 5px !important;
color: #FFF;
-webkit-border-radius: 10px 0px 0px;
-moz-border-radius: 10px 0px 0px;
border-radius: 10px 0px 0px ;
padding-top: 15px;
padding-bottom: 15px;
display: block;
padding: 8px 15px;
font-size: 18px;
font-weight: bold;
line-height: 18px;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
text-transform: uppercase;
margin-left: -5px;


}

.btn-default{
font-weight: bold;

    }

select{
    color: black;
    }
    #largo-button{
            font-size: 12px;
        }
    </style>


<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
  <li><a class="text-danger" href="/roles"><strong>ADMINISTRACIÓN DE ROLES</strong></a></li>
  <li class="active"><strong>ADMINISTRACIÓN DE ROLES DE SISTEMA</strong></li>
</ol>
<center><h2 class="text-danger"><strong> ADMINISTRACIÓN DE ROLES DE SISTEMA </strong></h2></center><br><br>

        <div class="row">

{% if ver_roles or crear_rol or mod_rol or eliminar_rol %}
            <div class="col-sm-3">
           <ul class="nav nav-list-tools">
                <li class="nav-header-tools">Barra de Herramientas</li>
                <li class="alert alert-danger">
                 <a id="largo-button" class="btn btn-default" href="/roles"><strong> VOLVER A ADMINISTRACIÓN DE ROLES</strong> </a>&nbsp;&nbsp;
           </li>
               </ul>

{% else %}
	<center><p><strong>NO TINES PERMISOS PARA VER ESTA SECCION</strong></p></center>
{% endif %}

                </div>

<div class="col-sm-9">
 <ul class="nav nav-list-tools">
          <li class="nav-header-tools">Usuarios </li>
          <li class="alert alert-danger">
   <form action="" method="post">
         {% csrf_token %}
	    <table class="table table-bordered">
              <thead>
	       <tr>
                   <th colspan="3"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                       {{form.filtro.label}}: {{form.filtro}}
                   </th>
                   <th align="right">
                       {{form.paginas.label}}: {{form.paginas}}&nbsp;&nbsp;
                       <input type="submit" name="Buscar" class= "btn btn-default" value="ACEPTAR"/>
                   </th>
               </tr>
                 <tr>
                     <th class="titulo"><b class="text-danger"><strong>NOMBRE</strong></b></th>
	             <th class="titulo"><b class="text-danger"><strong>DESCRIPCIÓN</strong></b></th>
	             <th class="titulo"><b class="text-danger"><strong>CREADO EN FECHA</strong></b></th>
	             <th class="titulo"><b class="text-danger"><strong>RESPONSABLE</strong></b></th>
	             <th class="titulo"><b class="text-danger"><strong>ACCIONES</strong></b></th>
                </tr>
              </thead>
              <tbody>
	      {%for i in pag.object_list%}
	        <tr>
                   {% ifnotequal i.id 1 %}
                      {% if mod_rol %}
                         <td><a href="/roles/mod&id={{i.id}}/"><font color="gray"><strong><em><u>{{i.nombre}}</u></em></strong></></a></td>
                      {% else %}
                         <td><font color="gray"><strong><em><u>{{i.nombre}}</u></em></strong></font></td>
                      {% endif %}font
                   {% else %}
                      <td><font color="gray"><strong><em><u>{{i.nombre}}</u></em></strong></font></td>
                   {% endifnotequal %}
                      <td><strong>{{i.descripcion}}</strong></td>
	              <td><strong>{{i.fecHor_creacion}}</strong></td>
                      <td><strong>{{i.usuario_creador}}</strong></td>
	           {% ifnotequal i.id 1 %}
                      <td>
                         {% if eliminar_rol%}
                            <a class="btn btn-default" href="/roles/del&id={{i.id}}/"><strong>ELIMINAR</strong></a>&nbsp;&nbsp;&nbsp;
                         {% endif %}
                         {% if mod_rol %}
                            <a class="btn btn-default" href="/roles/permisos&id={{i.id}}/"><strong>ESTABLECER PERMISOS</strong></a>
                         {% endif %}
                      </td>
                   {% endifnotequal %}
	       </tr>
	      {% endfor %}
              </tbody>
	  </table>
    </form>
     </li>
     </ul>
    </div>
	</div>
    <a colspan="3">
                    <br><h4 class="text-danger"><strong>Página {{ pag.number }} de {{ pag.paginator.num_pages }}<strong></h4><br>
                    {% if pag.has_previous %}
                       <a class="btn btn-mini btn btn-default" href="?page={{ pag.previous_page_number }}"><h5><strong> <span class=" glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;&nbsp;ANTERIOR </strong></h5></a>
                    {% endif %}
                    {% if pag.has_next %}
                       <a class="btn btn-mini btn btn-default" href="?page={{ pag.next_page_number }}"><h5><strong > SIGUIENTE &nbsp;&nbsp; <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></strong></h5></a>
                    {% endif %}
    </a><br><br>


{% endblock %}
