{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<center><img src="/site_media/images/image.png" width="160" height="120"></center>
<center><h2 class="text-danger"><strong> PROYECTO GDT </strong></h2></center><br><br>
<div class="login">
     <form method="POST" action=".">
           {% csrf_token %}
           <center><table class="login">
                {{form.as_table}}
		<tr>
	        <td colspan="2" style="text-align:center; padding-top:10px;" >
                <input type="hidden" name="next" value="/principal" /><br>
                <input type="submit" class= "btn btn-default" value="INGRESAR" /><br></td>
		</tr>
	   </table></center>
     </form>
</div>
<br><br><br><br><strong><center><p>&copy; GDT 2015 </p></center></strong>
{% endblock %}

