{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Archivos adjuntos eliminados de &lt;{{ itm.nombre }}&gt;<br>{% endblock %}
{% block content %}
{% if abm_items %}
{% if lista %}
	<table>
	<tr><td class="titulo">Nombre</td><td class="titulo">Tamano</td><td class="titulo">Acciones</td></tr>
	{% for i in lista %}
	<tr>	
	<td><a href = "/proyectos/items&id={{proyecto.id}}/adj&id={{itm.id}}/get&id={{i.id}}/">{{i.nombre}}</a></td>
	<td>{{i.tamano}} B</td><td><a href="/proyectos/items&id={{proyecto.id}}/adj&id={{itm.id}}/res&id={{i.id}}/">Restaurar</a></td>
	</tr>
	{% endfor %}
	</table>
{% else %}
	<p>No hay adjuntos eliminados</p>
{% endif %}

<input type="button" value="Volver" onClick = "location.href='/proyectos/items&id={{proyecto.id}}/adj&id={{itm.id}}/' "/>

{% else %}
<p>Â¡No tiene los permisos necesarios para ver esta pagina!</p>
{% endif %}
{% endblock %}

