{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Archivos adjuntos de &lt;{{ itm.nombre }}&gt;<br>{% endblock %}
{% block content %}

{% if lista %}
	<table>
	<tr><td class="titulo">Nombre</td><td class="titulo">Tamano</td><td class="titulo">Acciones</td></tr>
	{% for i in lista %}
	<tr>	
	<td><a href = "/proyectos/fases/items&id={{proyecto.id}}/adj&id={{itm.id}}/get&id={{i.id}}/">{{i.nombre}}</a></td>
	<td>{{i.tamano}} B</td><td><a href="/proyectos/fases/items&id={{proyecto.id}}/adj&id={{itm.id}}/quitar&id={{i.id}}/">Quitar</a></td>
	</tr>
	{% endfor %}
	</table>
{% else %}
	<p>No hay adjuntos</p>
{% endif %}
<p></p>
<p><a href="/proyectos/fases/items&id={{proyecto.id}}/adj&id={{itm.id}}/nuevo/">Anadir archivos</a> | <a href="/proyectos/fases/items&id={{proyecto.id}}/adjdel&id={{itm.id}}/">Ver archivos eliminados</a></p>
<input type="button" value="Volver" onClick = "location.href='/proyectos/fases/items&id={{proyecto.id}}' "/>

{% endblock %}
