{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Anadir adjuntos de &lt;{{ itm.nombre }}&gt;<br>{% endblock %}
{% block content %}

<form enctype="multipitm/form-data" id="form_id" action="" method="post">
<p>(M&aacute;ximo 1MB)</p>
	{{ formset.management_form }}
    {% for form in formset.forms %}
    {{ form.as_p }}
    {% endfor %}
<input type="submit" value="Aceptar" />
<input type="button" value="Cancelar" onClick = "location.href='/proyectos/fases/items&id={{proyecto.id}}/adj&id={{itm.id}}/' "/>
</form>	

{% endblock %}

