{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Quitar adjunto de &lt;{{ itm.nombre }}&gt;<br>{% endblock %}
{% block content %}
{% if abm_items %}
<form id="form_id" action="" method="post">
<p>Â¿Est&aacute; seguro de que desea quitar este archivo?<span class="optionbuttons">
	<input type="submit" value="S&iacute;" />
	<input type="button" value="No" onClick ="location.href='/proyectos/items&id={{proyecto.id}}/adj&id={{itm.id}}/' "/></span></p>
</form>
{% else %}
<p>Â¡No tiene los permisos necesarios para ver esta pagina!</p>
{% endif %}
{% endblock %}

