{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}
{% block content %}

<style type="text/css" xmlns="http://www.w3.org/1999/html">
        .alert-danger {
            background: rgba(196,196,196,1);
background: -moz-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(196,196,196,1)), color-stop(0%, rgba(191,191,191,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: linear-gradient(to right, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#b5b5b5', GradientType=1 );
            border-color: #808080;
        border-radius: 0px 0px 10px 0px;

        display: block;
font-size: 15px;
font-weight: bold;
color: black;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
margin-left: -5px;

        }


        .nav-list-tools>li.nav-header-tools {
background-color: #8B0000;
background-position: 8px 5px !important;
color: #FFF;
-webkit-border-radius: 10px 0px 0px;
-moz-border-radius: 10px 0px 0px;
border-radius: 10px 0px 0px ;
padding-top: 15px;
padding-bottom: 15px;

/* padding-left: 40px; */
    display: block;
padding: 8px 15px;
font-size: 18px;
font-weight: bold;
line-height: 18px;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
text-transform: uppercase;
margin-left: -5px;


}

.btn-default{
font-weight: bold;

    }

select{
    color: black;
    }

    </style>


<ol class="breadcrumb">
  <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}"><strong>PROYECTO</strong></a></li>

  <li class="active"><strong>ADMINISTRACIÓN DE USER STORIES</strong></li>
</ol>
<!--
    <center><h2 class="text-danger"><strong> ADMINISTRACIÓN DE USER STORIES </strong></h2></center><br><br>-->

<center><h2 class="text-danger"><strong> VER USER STORIES DEL PROYECTO: "{{proyecto}}" </strong></h2></center><br><br>

       <div class="row">

            {% if abm_user_story or abm_us or ver_us%}
       <div class="col-sm-3">
           <ul class="nav nav-list-tools">
                <li class="nav-header-tools">Barra de Herramientas</li>
                <li class="alert alert-danger">
                <a class="btn btn-default" href="/principal"><strong> VOLVER A LA PÁGINA PRINCIPAL</strong> </a>&nbsp;&nbsp;
              {% if abm_user_story  or crear_us or Crear_US%}
  <a class="btn btn-default" href="/userstories&id={{proyecto.id}}/crear/"><strong>CREAR NUEVO USER STORY </strong></a>{% endif %}
                </li>
               </ul>
           </div>


<div class="col-sm-8">
 <ul class="nav nav-list-tools">
          <li class="nav-header-tools">User Stories </li>
          <li class="alert alert-danger">
    <form action="." method="POST">
         {% csrf_token %}
            <table class="table table-bordered">
	      <thead>
	       <tr>
                    <th colspan="3"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        {{form.filtro.label}}: {{form.filtro}}
                    </th>
                    <th align="right">
                        {{form.paginas.label}}: {{form.paginas}}&nbsp;&nbsp;
                        <input type="submit" name="Buscar" class= "btn btn-default" value="ACEPTAR"/>
                    </th>
              </tr>
	        <tr>
                     <th class="titulo"><b class="text-danger"><strong>NOMBRE</strong></b></th> 
                    <!-- <th class="titulo"><b class="text-danger"><strong>ASIGNADO A</strong></b></th>-->
                     <th class="titulo"><b class="text-danger"><strong>VERSION</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>ESTADO</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>VALOR TECNICO</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>VALOR NEGOCIO</strong></b></th>
	                 <th class="titulo"><b class="text-danger"><strong>PRIORIDAD</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>DESCRIPCIÓN</strong></b></th>
                     <th class="'titulo"><b class="text-danger"><strong>DURACION ESTIMADA (Horas)</strong></b></th>
            </tr>
                </thead>
                <tbody>
	{% for i in lista %}
	<tr>
		 {% if mod_user_story or mod_us %}
                          <td><a href="/userstories&id={{proyecto.id}}/mod_us&id={{i.id}}/"><font color="black"><strong><em><u>{{i.nombre}}</u></em></strong></font></a></td>
                       {% else %}
                          <td><font color="black"><strong><em><u>{{i.nombre}}</u></em></strong></font></td>
         {% endif %}

	                     <!--<td><strong></strong></td>-->

                         <td><strong>{{i.version}}</strong></td>{% if i.estado == '2' %}
                        <td><strong>En Proceso</strong></td>{% else %}
                        <td><strong>En Espera</strong></td>{% endif%}

                         <td><strong>{{i.valor_tecnico}}</strong></td>
                         <td><strong>{{i.valor_negocio}}</strong></td>
                         <td><strong>{{i.prioridad}}</strong></td>
                         <td><strong>{{i.descripcion}}</strong></td>
                         <td><strong>{{i.duracion}}</strong></td>


                         </td>
	</tr>
	{% endfor %}

               </tbody>
	  </table>
   </form>



   {% else %}
	<center><p><strong>NO TIENE PERMISO PARA VER ESTA SECCIÓN</strong></p></center>
   {% endif %}
{% endblock %}
