{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
      <li><a class="text-danger" href="/proyectos/admin&id={{proyecto.id}}/"><strong>ADMIN PROYECTO</strong></a></li>

  <li><a class="text-danger" href="/flujos&id={{proyecto.id}}"><strong>ADMINISTRACIÓN DE FLUJOS</strong></a></li>
  <li class="active"><strong>ASIGNACIÓN DE ACTIVIDADES A FLUJOS</strong></li>
</ol>
<center><h2 class="text-danger"><strong> ASIGNAR ACTIVIDADES A UN FLUJO</strong></h2></center>
<center><h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true">&nbsp;</span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2></center><br>


   {% if mensaje %}
      {% autoescape off %}
         <center><h3><p> SE HA PRODUCIDO EL SIGUIENTE INCONVENIENTE: </p></h3>
                  <h4><p><em> {{ mensaje }} </em></p></h4>
         </center>
      {% endautoescape %}
	 <center><input type="button" class= "btn btn-default" value="VOLVER" onClick = "location.href='/flujos&id={{proyecto.id}}'"/></center>
   {% else %}
   <center>
      <td class="list-group">
             <form id="form_id"  method="POST">
                   {% csrf_token %}
		   {{ form.as_table }}
		   <tr>



			<td colspan="2" class="list-group">
                            <br><input type="submit" class= "btn btn-default" value="GUARDAR" />&nbsp;&nbsp;
			    <input type="button" class= "btn btn-default" value="CANCELAR" onClick = "location.href='/flujos&id={{proyecto.id}}' "/></center>
                        </td>
		   </tr>
	     </form>
      </td>
   </center>
    {% endif %}

{% endblock%}
