{% extends "base.html" %}
{% block title %}Actividades{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
      <li><a class="text-danger" href="/proyectos/admin&id={{proyecto.id}}/"><strong>PROYECTO</strong></a></li>

  <li><a class="text-danger" href="/flujos&id={{proyecto.id}}"><strong>ADMINISTRACIÓN DE FLUJOS</strong></a></li>
  <li class="active"><strong>CREACIÓN DE ACTIVIDADES</strong></li>
</ol>
<center><h2 class="text-danger"><strong> CREACIÓN DE ACTIVIDADES </strong></h2></center>
<center><h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span></h2></center><br>
{% if crear_actividades %}
   <center>
          <table class="abm">
	     <form enctype="multipart/form-data" id="form_id" action="" method="post">
                {% csrf_token %}
		{{ form.as_table }}
		<tr>
                    <td colspan="2" class="buttonlist">
		        <center>
                              <br><br><br><input type="submit" class= "btn btn-default" value="GUARDAR" />&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="button" class= "btn btn-default" value="CANCELAR" onClick = "location.href='/flujos&id={{proyecto.id}}' "/>
		        </center>
		    </td>
		</tr>
	     </form>
          </table>
    </center>
{% else %}
   <center><p><h4><strong>NO TIENES PERMISOS PARA VER ESTA SECCIÓN</strong></h4></p></center>
{% endif %}
{% endblock%}
