{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
  <li class="active"><strong>ADMINISTRACIÓN DE USUARIOS</strong></li>
</ol>
<center><h2 class="text-danger"><strong> ADMINISTRACIÓN DE USUARIOS </strong></h2></center><br><br>

{% if ver_usuarios or crear_usuario or mod_usuario or eliminar_usuario or asignar_roles%}
   <form action="." method="POST">
         {% csrf_token %}
            <table class="table table-bordered">
	      <thead>
	       <tr>
                    <th colspan="3"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        {{form.filtro.label}}: {{form.filtro}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    </th>
                    <th align="right">
                        {{form.paginas.label}}: {{form.paginas}}&nbsp;&nbsp;

                        <input type="submit" name="Buscar" class= "btn btn-default" value="ACEPTAR"/>

                    </th>
              </tr>
	        <tr>
		     <th class="titulo"><b class="text-danger"><strong>USUARIO</strong></b></th>
	             <th class="titulo"><b class="text-danger"><strong>NOMBRE</strong></b></th>
	             <th class="titulo"><b class="text-danger"><strong>APELLIDO</strong></b></th>
	             <th class="titulo"><b class="text-danger"><strong>ACCIONES</strong></b></th>
	        </tr>
	      </thead>
              <tbody>
	      {%for i in pag.object_list%}
		   <tr>
		       {% if mod_usuario %}
                          <td><a href="/usuarios/mod&id={{i.id}}/"><font color="gray"><strong><em><u>{{i.username}}</u></em></strong></font></a></td>
		       {% else %}
                          <td><font color="gray"><strong><em><u>{{i.username}}</u></em></strong></font></td>
                       {% endif %}
		          <td><strong>{{i.first_name}}</strong></td>
		          <td><strong>{{i.last_name}}</strong></td>
		       {% ifequal i.id 1 %}
		          <td><strong>SUPERUSUARIO</strong></td>
		       {% else %}
		          {% ifnotequal i.username user.username %}
		             <td>
                                 {% if eliminar_usuario %}
                                    <a class="btn btn-default" href="/usuarios/del&id={{i.id}}/"><strong>ELIMINAR</strong></a>
                                 {% endif %}
				{% if asignar_roles %}&nbsp;&nbsp;
                                    <a class="btn btn-default" href="/usuarios/rol&id={{i.id}}/"><strong>ASIGNAR ROLES DE SISTEMA</a>
                                 {% endif %}

                                 </td>
		          {% endifnotequal %}
		       {% endifequal %}
	           </tr>
	    {% endfor %}
              {%for i in pag2.object_list%}
		   <tr>
		       {% if mod_usuario %}
                          <td><a href="/usuarios/mod&id={{i.id}}/"><font color="gray"><strong><em><u>{{i.username}}</u></em></strong></font></a></td>
		       {% else %}
                          <td><font color="gray"><strong><em><u>{{i.username}}</u></em></strong></font></td>
                       {% endif %}
		          <td><strong>{{i.first_name}}</strong></td>
		          <td><strong>{{i.last_name}}</strong></td>
		       {% ifequal i.id 1 %}
		          <td><strong>SUPERUSUARIO</strong></td>
		       {% else %}
		          {% ifnotequal i.username user.username %}
		             <td>
                                 {% if eliminar_usuario %}
                                    <a class="btn btn-default" href="/usuarios/del&id={{i.id}}/"><strong>ELIMINAR</strong></a>
                                 {% endif %}
				{% if asignar_roles %}&nbsp;&nbsp;
                                    <a class="btn btn-default" href="/usuarios/rol&id={{i.id}}/"><strong>ASIGNAR ROLES DE SISTEMA</a>
                                 {% endif %}

                                 </td>
		          {% endifnotequal %}
		       {% endifequal %}
	           </tr>
	    {% endfor %}

            </tbody>
	  </table>
   </form>

   <a colspan="3">
                    <br><h4 class="text-danger"><strong>Página {{ pag.number }} de {{ pag.paginator.num_pages }}<strong></h4><br>
                    {% if pag.has_previous %}
                       <a class="btn btn-mini btn btn-default" href="?page={{ pag.previous_page_number }}"><h5><strong> <span class=" glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;&nbsp;ANTERIOR </strong></h5></a>
                    {% endif %}
                    {% if pag.has_next %}
                       <a class="btn btn-mini btn btn-default" href="?page={{ pag.next_page_number }}"><h5><strong > SIGUIENTE &nbsp;&nbsp; <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></strong></h5></a>
                    {% endif %}
    </a><br><br>
   {% if crear_usuario %}
      <div class="footer">
           <div class="volver">
                <a class="btn btn-default" href="/principal"><strong> VOLVER A LA PÁGINA PRINCIPAL</strong> </a>&nbsp;&nbsp;
                <a class="btn btn-default" href="/usuarios/crear/"><strong>CREAR NUEVO USUARIO </strong></a>
           </div>
     </div>
   {% endif %}
   {% else %}
	<center><p><strong>NO TIENE PERMISO PARA VER ESTA SECCIÓN</strong></p></center>
   {% endif %}
{% endblock %}