{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Items de {{ fase.nombre }}<br>{% endblock %}
{% block content %}

{% if abm_items or ver_items_ant_1 or ver_items_ant_2%}

{% ifequal fase.id 1%}
{% if abm_items or ver_items_ant_1%}
<table>
	<tr>
	  <td class="titulo">Nombre</td>        
	  <td class="titulo">Version</td>
	  <td class="titulo">Complejidad</td>
	  <td class="titulo">Descripcion Corta</td>
	  <td class="titulo">Tipo</td>
	  <td class="titulo">Acciones</td>
	</tr>

    {% for i in lista %}
	<tr>
	  <td><a href="/proyectos/items&id={{proyecto.id}}/itm&id={{i.id}}/">{{i.nombre}}</a></td>
	  <td>{{i.version}}</td>        
	  <td>{{i.complejidad}}</td>
	  <td>{{i.descripcion_corta}}</td>
	  <td>{{i.tipo}}</td>
	  <td><a href="/proyectos/items&id={{proyecto.id}}/historial&id={{i.id}}/">Historial</a>
	      <a href="/proyectos/items&id={{proyecto.id}}/verrel&id={{i.id}}&fase={{i.fase.id}}/">| Relaciones con la misma fase</a>
	      <a href="/proyectos/items&id={{proyecto.id}}/veradj&id={{i.id}}/">| Adjuntos</a>
	      <a href="/proyectos/items&id={{proyecto.id}}/imp&id={{i.id}}/">| Impacto</a></td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endifequal %}

{% ifequal fase.id 2%}
{% if abm_items or ver_items_ant_2%}
<table>
    <tr>
	<td class="titulo">Nombre</td>        
        <td class="titulo">Version</td>
	<td class="titulo">Complejidad</td>
	<td class="titulo">Descripcion Corta</td>
        <td class="titulo">Tipo</td>
        <td class="titulo">Acciones</td>
	</tr>
    {% for i in lista %}
	<tr>
	<td><a href="/proyectos/items&id={{proyecto.id}}/itm&id={{i.id}}/">{{i.nombre}}</td>
        <td>{{i.version}}</td>        
	<td>{{i.complejidad}}</td>
	<td>{{i.descripcion_corta}}</td>
       	<td>{{i.tipo}}</td>
        <td><a href="/proyectos/items&id={{proyecto.id}}/historial&id={{i.id}}/">Historial</a>
	    <a href="/proyectos/items&id={{proyecto.id}}/verrel&id={{i.id}}&fase={{i.fase.id}}/">| Relaciones con la misma fase</a>
	    <a href="/proyectos/items&id={{proyecto.id}}/verrel&id={{i.id}}&fase={{i.fase.id|add:"-1" }}/">| Relaciones con la fase anterior</a>
	    <a href="/proyectos/items&id={{proyecto.id}}/veradj&id={{i.id}}/">| Adjuntos</a>
	    <a href="/proyectos/items&id={{proyecto.id}}/imp&id={{i.id}}/">| Impacto</a>
	</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endifequal %}

{% ifequal fase.id 3%}
{% if abm_items or ver_items_ant_3%}
<table>
    <tr>
	<td class="titulo">Nombre</td>        
        <td class="titulo">Version</td>
	<td class="titulo">Complejidad</td>
	<td class="titulo">Descripcion Corta</td>
        <td class="titulo">Tipo</td>
        <td class="titulo">Acciones</td>
	</tr>
    {% for i in lista %}
	<tr>
	<td>{{i.nombre}}</td>
        <td>{{i.version}}</td>        
	<td>{{i.complejidad}}</td>
	<td>{{i.descripcion_corta}}</td>
       	<td>{{i.tipo}}</td>
        <td><a href="/proyectos/items&id={{proyecto.id}}/historial&id={{i.id}}/">| Historial</a><a href="/proyectos/items&id={{proyecto.id}}/verrel&id={{i.id}}&fase={{i.fase.id}}/">| Relaciones con la misma fase</a><a href="/proyectos/items&id={{proyecto.id}}/verrel&id={{i.id}}&fase={{i.fase.id|add:"-1" }}/">| Relaciones con la fase anterior</a><a href="/proyectos/items&id={{proyecto.id}}/veradj&id={{i.id}}/">| Adjuntos</a><a href="/proyectos/items&id={{proyecto.id}}/imp&id={{i.id}}/ ">| Impacto</a></td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endifequal %}

<input type="button" value="Volver" onClick = "location.href='/proyectos/admin&id={{proyecto.id}}/' "/>

{% else %}
    <p>Â¡No tiene permisos para ver esta pagina!</p>	
{% endif %}

{% endblock%}
