{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Versiones anteriores de &lt;{{ itm.nombre }}&gt;<br>{% endblock %}
{% block content %}
{% if abm_items %}
<p>Usuario: {{ historial.usuario }}</p>
<p>Fecha de creacion: {{ historial.fecha_creacion }}</p>

{% if lista %}
<table>
	<tr>
		<td class="titulo">Version</td>
       	<td class="titulo">Complejidad</td>
		<td class="titulo">Descripcion Corta</td>
        <td class="titulo">Tipo</td>
        <td class="titulo">Fecha/Modificacion</td>
		<td class="titulo">Acciones</td>
	</tr>
	{% for i in lista %}
	<tr>
		<td>{{i.version}}</td>
		<td>{{i.complejidad}}</td>
		<td>{{i.descripcion_corta}}</td>		
		<td>{{i.tipo}}</td>
        <td>{{i.fecha_modificacion}}</td>
		<td><a href="/proyectos/fases/items&id={{ proyecto.id }}/historial&id={{ itm.id }}/historel&id={{ i.id }}&fase={{ itm.fase.id }}/">| Relaciones con la fase actual</a>{% ifnotequal itm.fase.id 1 %}<a href="/proyectos/fases/items&id={{ proyecto.id }}/historial&id={{ itm.id }}/historel&id={{ i.id }}&fase={{ itm.fase.id|add:"-1" }}/">| Relaciones con la fase anterior</a>{% endifnotequal %}<a href="/proyectos/fases/items&id={{ proyecto.id }}/historial&id={{ itm.id }}/histoadj&id={{ i.id }}/">| Adjuntos</a>{% ifequal itm.fase proyecto.fase %}{% ifequal fin 1 %}<a href="/proyectos/fases/items&id={{proyecto.id}}/historial&id={{itm.id}}/volver&id={{i.id}}/">| Restaurar</a>{% endifequal%}{% endifequal %}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<ul>
    <li>No se ha registrado ninguna version</li>
</ul>
{% endif %}

{% ifequal itm.fase proyecto.fase %}
<input type="button" value="Volver" onClick = "location.href='/proyectos/fases/items&id={{ proyecto.id }}/'"/>
{% else %}
<input type="button" value="Volver" onClick = "location.href='/proyectos/fases/items&id={{ proyecto.id }}/'"/>
{% endifequal %}

{% else %}
	<p>Â¡No tiene permisos para ver esta pagina!</p>
{% endif %}
{% endblock%}

