{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Relaciones de &lt;{{itm.nombre}}&gt; en la version &lt;{{ registro.version }}&gt;<br>{% endblock %}
{% block content %}
{% if abm_items %}
<ul> 
{% if lista %} 
    {% for i in lista %}
    <li> {{ i.nombre }} </li>
    {% endfor %}
{% else %}
    <li>No se registran relaciones en esta version</li>
{% endif %}
</ul>

<input type="button" value="Volver" onClick = "location.href='/proyectos/fases/items&id={{proyecto.id}}/historial&id={{itm.id}}/' "/>

{% else %}
	<p>Â¡No tiene los permisos para ver esta pagina!</p>
{% endif %}
{% endblock %}

