{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Borrar &lt;{{itm.nombre}}&gt;<br>{% endblock %}
{% block content %}
{% if abm_items %}
<form action="/proyectos/fases/items&id={{proyecto.id}}/del&id={{itm.id}}/" method="post">
<p>Est&aacute; seguro?<span class="optionbuttons">
	<input type="submit" value="S&iacute;" onClick="location.href='/proyectos/'" />
	<input type="button" value="No" onClick ="location.href='/proyectos/fases/items&id={{proyecto.id}}/' "/></span></p>
</form>
{% else %}
<p>Â¡No tiene permisos para ver esta p&aacute;gina!</p>
<input type="button" value="Cancelar" onClick = "location.href='/proyectos/items&id={{proyecto.id}}/' "/>
{% endif %}
{% endblock%}

