{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Modificar el item &lt;{{ itm.nombre }}&gt;<br>{% endblock %}
{% block content %}
{% if abm_items %}
<table class="abm">
	<form enctype="multipart/form-data" id="form_id" action="/proyectos/fases/items&id={{proyecto.id}}/mod&id={{itm.id}}/" method="post">
		{{form.as_table}}
		<tr><td colspan="2" class="buttonlist">
		<input type="submit" value="Guardar" />
		<input type="button" value="Cancelar" onClick = "location.href='/proyectos/fases/items&id={{proyecto.id}}/' "/></td>
		</tr>
	</form>
</table>
{% else %}
	<p>¡No tiene permisos para ver esta pagina!</p>
    <input type="button" value="Aceptar" onClick = "location.href='/proyectos/fases/items&id={{proyecto.id}}/' "/>
{% endif %}
{% endblock%}

