{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Aprobacion del item &lt;{{itm.nombre}}&gt;<br>{% endblock %}
{% block content %}
{% if ver_items %}
  <table class="itm-inf">
    <form id="form_id" action="" method="post">
      <tr><th>Nombre:</th><td>{{ itm.nombre }}</td></tr>
      <tr><th>Version:</th><td>{{ itm.version }}</td></tr>
      <tr><th>Complejidad:</th><td>{{ itm.complejidad }}</td></tr>
      <tr><th>Descripcion Corta:</th><td>{{ itm.descripcion_corta }}</td></tr>
      <tr><th>Descripcion Larga:</th><td>{{ itm.descripcion_larga }}</td></tr>
      <tr><th>Tipo:</th><td>{{ itm.tipo }}</td></tr>
      <tr><th>Icono:</th><td>{{ itm.icono }}</td></tr>
      <tr><th>Relaciones:</th>
	  <td><ul>{% for i in relaciones %}
	      <li>{{i.padre.nombre}}</li>
	      {% empty %}
		      <li>No tiene relaciones</li>
	  {% endfor %}</ul></td></tr>
      <tr><th>Adjuntos:</th>
	  <td><ul>{% for i in archivos %}
	      <li>{{i.nombre}}</li>
	      {% empty %}
		      <li>No tiene adjuntos</li>
	  {% endfor %}</ul></td></tr>
	      <tr><td colspan="2" class="buttonlist" style="border:none;">
	  <input type="button" value="Volver" onClick = "location.href='/proyectos/fases/items&id={{proyecto.id}}/' "/></td></tr>
    </form>
  </table>
{% else %}
    <p> No tiene permiso para ver el detalle del item</p>
{% endif %}
{% endblock%}
