{% extends "base.html" %}
{% block title %}User Stories{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
      <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}"><strong>ADMIN PROYECTO</strong></a></li>
      <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/sprint_bk"><strong>SPRINTS</strong></a></li>
          <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/confsprint&id={{ sprint }}"><strong>CONF SPRINT</strong></a></li>


  <li class="active"><strong>ASIGNAR RESPONSABLE</strong></li>
</ol>
<center><h2><b> ASIGNAR RESPONSABLE A USER STORY </b></h2></center><br>


   {% if mensaje %}
      <center><p>SE HA PRODUCIDO EL SIGUIENTE INCONVENIENTE:</p>
      <p>{{mensaje}}</p></center>
   {% else %}
      <center><table class="abm">

             <form id="form_id" action="" method="POST">

                   {% csrf_token %}
		   {{ form.as_table }}
		   <tr>
			<td colspan="2" class="buttonlist">
                        <br><center><input type="submit" class= "btn btn-default" value="GUARDAR" />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-default" value="CANCELAR" onClick = "location.href='/configuracion&id={{ proyecto.id }}/confsprint&id={{ sprint }}' "/></center>
                        </td>
		   </tr>
	     </form>
      </table></center>
   {% endif %}

{% endblock%}