{% extends "base.html" %}
{% block title %}Flujos{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
          <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}"><strong>ADMIN PROYECTO</strong></a></li>

  <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/sprint_bk/"><strong>SPRINTS</strong></a></li>
  <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/tablero/"><strong>TABLA KANBAN</strong></a></li>

   <li class="active"><strong>CAMBIAR ESTADO</strong></li>
</ol>

<center><h2 class="text-danger"><strong> CAMBIAR ESTADO</strong></h2></center>

   {% if mensaje %}
      <center><p>SE HA PRODUCIDO EL SIGUIENTE INCONVENIENTE:</p>
      <p>{{mensaje}}</p></center>
   {% else %}
      <center><table class="abm">
      {% if us.estado_actividad != 'Done'%}
             <form id="form_id" action="." method="POST">

                   {% csrf_token %}
		   {{ form.as_p }}
		   <tr>
			<td colspan="2" class="buttonlist">

                        <br><center><input type="submit" class= "btn btn-default" value="GUARDAR" />
          <input type="button" class= "btn btn-default" value="CANCELAR" onClick ="location.href='/configuracion&id={{proyecto.id}}/tablero/' "/>


			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       {% endif %} {% if us.estado_actividad == 'Done' and termino != 1%}                <p><p><li><a href="/configuracion&id={{proyecto.id}}/act_cambiar&id={{act.id}}/us&id={{us.id}}/flujo&id={{flujo.id}}/"><strong>PASAR A LA SIGUIENTE ACTIVIDAD</strong></a></li>   {% endif %}
{% if termino == 1 and us.estado_actividad == 'Done' %}
    <li><a ><strong>Verifique el User Storie para Release</strong></a></li>
     {% endif %}
                        </td>
		   </tr>
	     </form>

      </table></center>

   {% endif %}

{% endblock%}