{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}
{% block content %}

<style type="text/css">
        .alert-danger {
            background: rgba(196,196,196,1);
background: -moz-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(196,196,196,1)), color-stop(0%, rgba(191,191,191,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: linear-gradient(to right, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#b5b5b5', GradientType=1 );
            border-color: #808080;
        border-radius: 0px 0px 10px 0px;

        display: block;
font-size: 15px;
font-weight: bold;
color: black;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
margin-left: -5px;

        }


        .nav-list-tools>li.nav-header-tools {
background-color: #8B0000;
background-position: 8px 5px !important;
color: #FFF;
-webkit-border-radius: 10px 0px 0px;
-moz-border-radius: 10px 0px 0px;
border-radius: 10px 0px 0px ;
padding-top: 15px;
padding-bottom: 15px;
/* padding-left: 40px; */
    display: block;
padding: 8px 15px;
font-size: 18px;
font-weight: bold;
line-height: 18px;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
text-transform: uppercase;
margin-left: -5px;


}

.btn-default{
font-weight: bold;

    }

select{
    color: black;
    }

    </style>


<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
  <li class="active"><strong>ADMINISTRACIÓN DE PROYECTOS</strong></li>
</ol>
<center><h2 class="text-danger"><strong> ADMINISTRACIÓN DE PROYECTOS </strong></h2></center><br><br>


        <div class="row">

{% if Agregar_US  %}
       <div class="col-sm-3">
           <ul class="nav nav-list-tools">
                <li class="nav-header-tools">BARRA DE HERRAMIENTAS</li>
                <li class="alert alert-danger">
                <a class="btn btn-default" href="/principal"><strong> VOLVER A LA PÁGINA PRINCIPAL</strong> </a>&nbsp;&nbsp;
                    <a class="btn btn-default" href="/configuracion/equipo&id={{proyecto.id}}/"><strong> GENERAR EQUIPO</strong> </a>&nbsp;&nbsp;
                 {%  if proyecto.duracion_sprint == None %}     <form id="duracion_id" action="." method="POST">
                             {% csrf_token %}
                <center>  {{ duracion.as_table }} </center>

   <tr>
                      <td class="buttonlist" colspan="2">
                          <br><center>
                                  <input type="submit" class= "btn btn-default" value="GUARDAR" />&nbsp;&nbsp;&nbsp;&nbsp;

	                   </center>
                      </td>
	          </tr>
	     </form>
{% else %} La duracion del Sprint en Semanas es {{ proyecto.duracion_sprint }}{% endif %}
               <li class="nav-header-tools">BackLog</li>
                         <li class="alert alert-danger">
  <form id="form_id" action="." method="POST">
                  {% csrf_token %}
                <center>  {{ form.as_table }} </center>
	          <tr>
                      <td class="buttonlist" colspan="2">
                          <br><center>
                                  <input type="submit" class= "btn btn-default" value="AGREGAR" />&nbsp;&nbsp;&nbsp;&nbsp;

	                   </center>
                      </td>
	          </tr>
	     </form>

                </li>
               </ul>
           </div>
{% endif %}
          <div class="col-sm-8">
 <ul class="nav nav-list-tools">
          <li class="nav-header-tools">Configuracion Sprint - {{ proyecto.sprint }} {{ suma }} Horas Disponible</li>
          <li class="alert alert-danger">



                <table class="table table-bordered">
                <thead>
                    <th class="titulo"><b class="text-danger"><strong>USER STORY</strong></b></th>
                <th class="titulo"><b class="text-danger"><strong>Prioridad</strong></b></th>
                    <th class="titulo"><b class="text-danger"><strong>Estado del US</strong></b></th>

                 <th class="titulo"><b class="text-danger"><strong>Flujo</strong></b></th>
                    <th class="titulo"><b class="text-danger"><strong> Responsable</strong></b></th>

                 <th class="titulo"><b class="text-danger"><strong>HR/Dia</strong></b></th>
                 <th class="titulo"><b class="text-danger"><strong>Horas del US</strong></b></th>

                </thead>

            <tbody>
              {% for i in us %}
<tr>


                    <td><font color="gray"><strong><em><u>{{i.us.nombre}}</u></em></strong></font></td>
                    <td><font color="gray"><strong>{{i.us.prioridad}}</strong></font></td>
                    <td><font color="gray"><strong>En espera</strong></font></td>

                    <td><font color="gray"><strong>{{i.us.flujo.nombre}}</strong></font></td>
                    <td><font color="gray"><strong>{{i.us.responsable}}</strong></font></td>
                    <td><font color="gray"><strong>{{i.us.horas}}</strong></font></td>
                    <td><font color="gray"><strong>{{i.us.duracion}}</strong></font></td>
{% if Asignar_Flujo %}

    <td><a class="btn btn-default btn-xs" href="/configuracion&id={{proyecto.id}}/flujo&id={{i.us.id }}/"><strong>Asignar Flujo</strong></a></td>
   {% endif%} {% if Asignar_Responsable %} <td><a class="btn btn-default btn-xs" href="/configuracion/equipo&id={{proyecto.id}}/responsable&id={{i.us.id }}/"><strong>Responsable</strong></a></td>
{% endif %}
                         </tr>
{% endfor %}
   </tbody>
	    </table>{% if Iniciar_Proyecto  %}
              {% if band == 1 %}
                            <center><a class="btn btn-default" href="/configuracion&id={{proyecto.id}}/sprint/"><strong>INICIAR SPRINT</strong></a></td></center>
   {% endif %}   {% endif %} </form>
     </li>
     </ul>
            </div>
            </div>
    <br><br>

{% endblock %}
