{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}USER STORY : &lt;{{ us.nombre }}&gt;<br>{% endblock %}
{% block content %}

     <ol class="breadcrumb">
    <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
                          <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}"><strong>ADMIN PROYECTO</strong></a></li>

  <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/sprint_bk/"><strong>SPRINTS</strong></a></li>
          <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/release/"><strong>RELEASE</strong></a></li>
          <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/revisarus&id={{ us.id }}/"><strong>DETALLES DEL USER STORY</strong></a></li>


    <li class="active"><strong>HISTORIAL DEL USER STORY</strong></li>
    </ol>
<center><h2 class="text-danger"><strong> HISTORIAL DEL USER STORY "{{ us.nombre }}" </strong></h2></center>
<!--condiciones-->
    {% if lista %}



    <table class="table table-bordered">
	      <thead>
	        <tr>

                     <th class="titulo"><b class="text-danger"><strong>NOMBRE</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>RESPONSABLE</strong></b></th>
                                     <th class="titulo"><b class="text-danger"><strong>ESTADO</strong></b></th>

                                     <th class="titulo"><b class="text-danger"><strong>FLUJO</strong></b></th>

                                     <th class="titulo"><b class="text-danger"><strong>ACTIVIDAD</strong></b></th>
                                                     <th class="titulo"><b class="text-danger"><strong>Estado ACTIVIDAD</strong></b></th>

                    <th class="titulo"><b class="text-danger"><strong>FECHA</strong></b></th>



            </tr>
                </thead>
 <tbody>
{% for i in lista %}
	<tr>

        <td>{{i.us.nombre}}</td>
		<td>{{i.responsable}}</td>
        		<td>{{i.estado}}</td>
        		<td>{{i.flujo}}</td>


    		<td>{{i.actividad}}</td>
        		<td>{{i.estado_actividad}}</td>

            		<td>{{i.fecha}}</td>





	{% endfor %}

               </tbody>
    </table>


{% else %}
    No se encuentra ningun cambio
    {% endif%}


{% endblock%}
