{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}
{% block content %}

<style type="text/css">
        .alert-danger {
            background: rgba(196,196,196,1);
background: -moz-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(196,196,196,1)), color-stop(0%, rgba(191,191,191,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(left, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
background: linear-gradient(to right, rgba(196,196,196,1) 0%, rgba(191,191,191,1) 0%, rgba(181,181,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#b5b5b5', GradientType=1 );
            border-color: #808080;
        border-radius: 0px 0px 10px 0px;

        display: block;
font-size: 15px;
font-weight: bold;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
margin-left: -5px;

        }


        .nav-list-tools>li.nav-header-tools {
background-color: #8B0000;
background-position: 8px 5px !important;
color: #FFF;
-webkit-border-radius: 10px 0px 0px;
-moz-border-radius: 10px 0px 0px;
border-radius: 10px 0px 0px ;
padding-top: 15px;
padding-bottom: 15px;
/* padding-left: 40px; */
    display: block;
padding: 8px 15px;
font-size: 18px;
font-weight: bold;
line-height: 18px;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
text-transform: uppercase;
margin-left: -5px;


}

.btn-default{
font-weight: bold;

    }

select{
    color: white;
    }

    </style>


<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
          <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}"><strong>ADMIN PROYECTO</strong></a></li>

  <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/sprint_bk/"><strong>SPRINTS</strong></a></li>

  <li class="active"><strong>TABLA KANBAN</strong></li>
</ol>
<center><h1 class="text-danger"><strong> <a class="submit" ><strong> Tablero Kanban </strong> </a>
</strong></h1></center><br>

    <h2 class="text-danger"><strong> <a><strong> Observaciones:  </strong> </a>

                 <button  style="background:#db4c2a" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> Por Hacer<span class="caret"></span></button>
                     <button  style="background:#dbd915" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> En Proceso <span class="caret"></span></button>

                     <button  style="background:#94db2b" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> Terminado  <span class="caret"></span></button>
                 <button  style="background:cornflowerblue" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> Pendiente-Release <span class="caret"></span></button>
                 <button  style="background:darkgrey" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> Cancelado <span class="caret"></span></button>





<br><br>
<center><div class="row">

{% for i in flujo %}
             <div class="col-sm-12">
            <ul class="nav nav-list-tools">
          <li class="nav-header-tools">{{i.nombre}} </li>
            <li class="alert alert-danger">
          <table class="table table-bordered">
          <tr>
 {% for j in actividades %}
                  {% if i.id == j.flujo.id and j.proyecto.id == proyecto.id %}
<td colspan="3" bgcolor="#008b8b"><center><strong><span >{{j.actividades}}</span></strong></center></td>
{% endif %}
 {% endfor %}
</tr>
<tr>
{% for j in actividades %}
                  {% if i.id == j.flujo.id and j.proyecto.id == proyecto.id %}
<td bgcolor="#db4c2a"><strong><center>TO DO</center></strong></td>
<td bgcolor="#dbd915"><strong><center>DOING</center></strong></td>
<td bgcolor="#94db2b"><strong><center>DONE</center></strong></td>
{% endif %}
{% endfor %}
</tr>

                {% for j in actividades %}
                  {% if i.id == j.flujo.id and j.proyecto.id == proyecto.id %}

                    <th class="titulo"><b class="text-danger"><strong>             {% for k in usflujo %}{% if k.us.estado != 'Aprobado' %}{% if k.us.estado_actividad ==  'To Do'%}
                                                    {% if k.us.actividad.id == j.id %}


                                                         <div class="btn-group">
                            <button style="background:#db4c2a" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> {{ k.us.nombre }} <span class="caret"></span>
                            </button>
                                  <ul class="dropdown-menu" role="menu">
                                      {% if user.id == k.us.responsable.id %}
                                      <li><a href="/userstories&id={{proyecto.id}}/adj&id={{k.us.id}}/nuevo/"><strong>Agregar Tarea</strong></a></li>
                                      {% endif %}
                                                                        {% endif %}
                                  </ul>
                            </div>
{% endif %}
{% endif %}
{% endfor %}</strong></b></th>
                      <th class="titulo"><b class="text-danger"><strong>     {% for k in usflujo %}{% if k.us.estado != 'Aprobado' %}{% if k.us.estado_actividad == 'Doing' %}

                                                    {% if k.us.actividad.id == j.id %}
                                                         <div class="btn-group">
                                                             {% if k.us.estado == 'Cancelado' %}

                                                        <button  style="background:darkgray" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> {{ k.us.nombre }} <span class="caret"></span>
                        {% else %}
                            <button  style="background:#dbd915" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> {{ k.us.nombre }}<span class="caret"></span>
                            </button>
                                  <ul class="dropdown-menu" role="menu">
                                                                            {% if user.id == k.us.responsable.id %}

                                      <li><a href="/userstories&id={{proyecto.id}}/adj&id={{k.us.id}}/nuevo/"><strong>Agregar Tarea</strong></a></li>
                                      <li class="divider"></li>
                                      <li><a href="/userstories&id={{proyecto.id}}/historial&id={{k.us.id}}/"><strong>Ver historial de tareas</strong></a></li>
                                      <li class="divider"></li>

                                      <li><a href="/configuracion&id={{proyecto.id}}/estado_cambiar&id={{j.actividades.id}}/us&id={{ k.us.id }}/flujo&id={{ i.id }}"><strong>Cambiar de Estado</strong></a></li>
                                                                                <li class="divider"></li> {% if rol == 1 %}


                                  <li><a href="/userstories&id={{proyecto.id}}/cancelar&id={{ k.us.id }}"><strong>Cancelar</strong></a></li>
                                                                                                         {% endif %}
                                                                                                                                         {% endif %}
                                  </ul>
                            </div>
{% endif %}{% endif %} {% endif %}{% endif %}
{% endfor %}</strong></b></th>
                       <th class="titulo"><b class="text-danger"><strong>     {% for k in usflujo %}{% if k.us.estado != 'Aprobado' %}{% if k.us.estado_actividad == 'Done' %}

                                                    {% if k.us.actividad.id == j.id %}
                                                         <div class="btn-group">
                                                         {% if k.us.estado == 'Pendiente' %}
                            <button  style="background:cornflowerblue" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> {{ k.us.nombre }} <span class="caret"></span>                            </button>

                           {% elif k.estado == 'Cancelado' %}
                                                        <button  style="background:darkgray" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"> {{ k.us.nombre }} <span class="caret"></span>  </button>
{% else  %}

                                                        <button  style="background:#94db2b" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">{{ k.us.nombre }} <span class="caret"></span></button>

                                  <ul class="dropdown-menu" role="menu">

                                                                            {% if user.id == k.us.responsable.id %}
                                        {% if k.us.estado_actividad != 'Done' %}
                                      <li><a href="/userstories&id={{proyecto.id}}/adj&id={{k.us.id}}/nuevo/"><strong>Agregar Tarea</strong></a></li>
                                      {% endif %}<li class="divider"></li>
                                      <li><a href="/userstories&id={{proyecto.id}}/historial&id={{k.us.id}}/"><strong>Ver historial de tareas</strong></a></li>
                                       {% if k.us.estado_actividad == 'Done' and k.us.actividad.ultimo != 1 %}<li class="divider"></li>

                                      <li><a href="/configuracion&id={{proyecto.id}}/estado_cambiar&id={{j.actividades.id}}/us&id={{ k.us.id }}/flujo&id={{ i.id }}"><strong>Cambiar de Estado</strong></a></li>
                                         {% endif %}  {% if k.us.actividad.ultimo == 1 %}     <li class="divider"></li> {% if rol == 1 or rol == 0 %}


                                  <li><a href="/configuracion&id={{proyecto.id}}/enviararelease&id={{ k.us.id }}"><strong>Enviar a Release</strong></a></li>
                                                                                                         {% endif %}{% endif %}
                                                                            <li class="divider"></li> {% if rol == 0 %}


                                  <li><a href="/userstories&id={{proyecto.id}}/cancelar&id={{ k.us.id }}"><strong>Cancelar</strong></a></li>
                                                                                                         {% endif %}{% endif %}
                                  </ul>
                                                             {% endif %}
                            </div>
{% endif %}{% endif %}{% endif %}
{% endfor %}</strong></b></th>

                    {% endif %}
                  {% endfor %}
               </table>
     </li>
     </ul>
            </div>
{% endfor %}
    </div></center>
{% endblock %}
