<!DOCTYPE html>
<html>
    <head>
        <title>NOTIFICACION SISTEMA GDT</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Hola {{ usuario }} ,</td>
                </tr>
            </thead>
            <tbody>
             <tr>
                    <th>{{ titulo }}</th>
                </tr>

                <tr>
                    <td>{{ mensaje }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>