{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<center><h2 class="text-danger"><strong> AGREGAR NUEVO PROYECTO </strong></h2></center>
<table>
       <form enctype="multipart/form-data" id="form_id" action="" method="post">
             {{ form.as_table }}
             <tr>
                 <td colspan="2" class="buttonlist">
		     <input type="submit" class= "btn btn-default" value="GUARDAR" />
		     <input type="button" class= "btn btn-default" value="CANCELAR" onClick = "location.href='/proyectos' "/>
                 </td>
	    </tr>
       </form>
</table>
{% endblock%}