{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}{{proyecto.nombre}}<br>{% endblock %}
{% block content %}
{% if ver_items or abm_items or ver_miembros or abm_miembros or asignar_roles or generarlb or ver_items_ant%}
<p>{{proyecto.descripcion}}</p>
<p>L&iacute;der del proyecto: {{proyecto.usuario_lider}}</p>




<ul>
{% if ver_miembros or abm_miembros or asignar_roles %}<li><a href="/proyectos/miembros&id={{proyecto.id}}/">Miembros</a></li>{% endif %}
{% if asignar_tipoItem %}<li><a href="/proyectos/fases/tipoItem&id={{proyecto.id}}">Tipos de Item</a></li>{% endif %}

</ul>



<ul> 
<li><a href="/proyectos/fases/items&id={{proyecto.id}}/">Items de la fase actual</a></li>
<br><br>
     <td><a class="btn btn-primary" href="/proyectos/fases&id={{proyecto.id}}/">VerFases</a></td>

     <td><a class="btn btn-primary" href="/proyectos/fases/crear&id={{proyecto.id}}/">CrearFases</a></td>



{% else %}
	<p>¡No tiene permisos para ver esta p&aacute;gina!</p>
  
{% endif %}
</ul>

{% endblock%}

