{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}{{proyecto.nombre}}<br>{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
  <li class="active"><strong>PROYECTO</strong></li>
</ol>
<center><h2 class="text-danger"><strong> DESCRIPCIÓN DEL PROYECTO: "{{proyecto}}" </strong></h2></center>
<center><h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;<span class="glyphicon glyphicon-saved" aria-hidden="true"></span></h2></center><br>

{% if ver_items or abm_items or ver_miembros or abm_miembros or asignar_roles or generarlb or ver_items_ant%}
   <center><h4><strong> <u>LIDER DEL PROYECTO</u>: <em class="text-danger">"{{proyecto.usuario_lider}}"</em></strong></h4><br><br></center>

   {% if ver_miembros or abm_miembros or asignar_roles %}
      <h4 class="text-default"><strong> <u>ACCIONES</u>:</strong></h4><br>
      <center><a class="btn btn-default" href="/proyectos/miembros&id={{proyecto.id}}/"><strong>MIEMBROS DEL PROYECTO</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   {% endif %}
      <a class="btn btn-default" href="/proyectos/fases&id={{proyecto.id}}/"><strong>FASES DEL PROYECTO</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
      <a class="btn btn-default" href="/terminar&id={{proyecto.id}}/"><strong>CERRAR PROYECTO</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-default" href="/proyecto/reporte&id={{proyecto.id}}/"><strong>INFORME DE PROYECTO</strong></a></center>
{% else %}
   <center><p><h4><strong>NO TIENES PERMISOS PARA VER ESTA SECCIÓN</strong></h4></p></center>
{% endif %}
{% endblock%}
