{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}Miembros del Proyecto {{proyecto.nombre}}<br>{% endblock %}
{% block content %}
{% if ver_miembros or abm_miembros %}
<form id="form_id" action="" method="post">
<table>
<tr><td class="titulo">Usuario</td><td class="titulo">Acciones</td></tr>
	{% for i in miembros %}
	{% ifnotequal proyecto.usuario_lider.id i.id%}<tr><td>{{i.username}}</td><td>{% if abm_miembros %}<a href="/proyectos/miembros&id={{proyecto.id}}/cambiar&id={{i.id}}">Administrar Roles</a> | <a href="/proyectos/miembros&id={{proyecto.id}}/del&id={{i.id}}">Quitar</a>{% endif %}</td></tr>{% endifnotequal%}
	{% endfor %}
</table>
{% if abm_miembros %}<p><a href="/proyectos/miembros&id={{proyecto.id}}/nuevo/">Agregar nuevo miembro</a></p>{% endif %}
<input type="button" value="Volver" onClick = "location.href='/proyectos/admin&id={{proyecto.id}}/' "/>	
</form>
{% else %}
	<p>¡No posee los permisos para ver esta pagina!</p>    
{% endif %}
{% endblock%}

