{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}{{proyecto.nombre}}<br>{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
  <li class="active"><strong>PROYECTO</strong></li>
</ol>
<center><h2 class="text-danger"><strong> DESCRIPCIÓN DEL PROYECTO: "{{proyecto}}" </strong></h2></center>
<center><h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;<span class="glyphicon glyphicon-saved" aria-hidden="true"></span></h2></center><br>

{% if ver_items or abm_items or ver_miembros or abm_miembros or asignar_roles or generarlb or ver_items_ant%}
   <center><h4><strong> <u>SCRUM MASTER DEL PROYECTO</u>: <em class="text-danger">"{{proyecto.usuario_scrum.usuario}}"</em></strong></h4><br><br></center>

   {% if ver_miembros or abm_miembros or asignar_roles or Ver_Miembros %}
      <center><a class="btn btn-default" href="/proyectos/miembros&id={{proyecto.id}}/"><strong>MIEMBROS DEL PROYECTO</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   {% endif %}
       {% if ver_flujos or Ver_Flujos %}

      <a class="btn btn-default" href="/flujos&id={{proyecto.id}}/"><strong>FLUJOS</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     {% endif %}
           {% if ver_user_story or ver_us %}
   <a class="btn btn-default" href="/userstories&id={{proyecto.id}}/"><strong>USER STORIES</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 {% endif %}

{% if sprint == 0  %}
   <a class="btn btn-default" href="/configuracion&id={{proyecto.id}}/"><strong>CONF_INICIO</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% else %}
       <a class="btn btn-default" href="/configuracion&id={{proyecto.id}}/sprint"><strong>VER TABLA</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    {% endif %}
{% else %}
   <center><p><h4><strong>NO TIENES PERMISOS PARA VER ESTA SECCIÓN</strong></h4></center>
{% endif %}
{%endblock%}