{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
  <li><a class="text-danger" href="/proyectos/admin&id={{proyecto.id}}/"><strong>ADMIN PROYECTO</strong></a></li>
  <li><a class="text-danger" href="/proyectos/miembros&id={{proyecto.id}}/"><strong>MIEMBROS DEL PROYECTO</strong></a></li>
  <li class="active"><strong>ADMINISTRAR ROLES </strong></li>
</ol>
<center><h2 class="text-danger"><strong> ADMINISTRAR ROLES A USUARIO: "{{usuario}}"</strong></h2></center>
<center><h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2></center><br>
{% if asignar_roles %}
   {% if mensaje %}
      <center><p>SE HA PRODUCIDO EL SIGUIENTE INCONVENIENTE:</p>
      <p>{{mensaje}}</p></center>
   {% else %}
      <center><table class="abm">
     <form id="form_id" action="" method="post">
           {% csrf_token %}
           {{form.as_p}}
           <tr>
			<td colspan="2" class="buttonlist">
                            <br><center><input type="submit" class= "btn btn-default" value="GUARDAR CAMBIOS" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-default" value="CANCELAR" onClick = "location.href='/proyectos/miembros&id={{proyecto.id}}' "/></center>
	
                        </td>   
		   </tr>
	     </form>
      </table></center>
   {% endif %}
{% else %}
	<center><p>NO TIENE PERMISOS PARA VER ESTA SECCION</p></center>
{% endif %}
{% endblock%}

		  
                     
