{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}Cambiar rol de &lt;{{usuario.username}}&gt;<br>{% endblock %}
{% block content %}
{% if abm_miembros %}
<form id="form_id" action="" method="post">
	{{form.as_p}}
<input type="submit" value="Guardar cambios" />
<input type="button" value="Cancelar" onClick = "location.href='/proyectos/miembros&id={{proyecto.id}}' "/>	
</form>
{% else %}
	<p>¡No tiene permisos para ver esta pagina!</p>
{% endif %}
{% endblock%}

