{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}Eliminar miembro &lt;{{usuario.username}}&gt; de &lt;{{proyecto.nombre}}&gt;<br>{% endblock %}
{% block content %}
{% if abm_miembros %}
<form id="form_id" action="" method="post">
<p>¿Est&aacute; seguro?</p><span class="optionbuttons">
<input type="submit" value="S&iacute;" />
<input type="button" value="No" onClick = "location.href='/proyectos/miembros&id={{proyecto.id}}' "/></span></p>
</form>
{% else %}
	<p>¡No tiene permisos para ver esta pagina!</p>
    
{% endif %}
{% endblock%}

