{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}Cambiar fase a &lt;{{tipo_item.nombre}}&gt;{% endblock %}<br>
{% block content %}
{% if asignar_tipoItem %}
  <form id="form_id" action="" method="post">
    <table>
    {{form.as_table}}
    </table><br>
    <input type="submit" value="Guardar cambios" />
    <input type="button" value="Cancelar" onClick = "location.href='/proyectos/tipoItem&id={{proyecto.id}}' "/>
</form>
{% else %}
  <P>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock%}
