{% extends "base.html" %}
{% block title %}Equipo{% endblock %}}
{% block content %}
        <ol class="breadcrumb">

    <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
                  <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}"><strong>ADMIN PROYECTO</strong></a></li>

      <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/sprint_bk/"><strong>SPRINTS</strong></a></li>
  <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/confsprint&id={{ sprint.id }}"><strong>CONFIGURACION SPRINT</strong></a></li>
            <li><a class="text-danger" href="/configuracion/equipo&id={{ proyecto.id }}/sprint&id={{ sprint.id }}"><strong>ADMIN EQUIPO</strong></a></li>
       <li  class="active"><strong>AGREGAR MIEMBRO A EQUIPO</strong></li>
</ol>
<center><h2 class="text-danger"><strong> AGREGAR NUEVO MIEMBRO AL EQUIPO</strong></h2></center>
<form id="form_id" action="" method="post">
   <table>
          {{form.as_p}}
   </table>
   <input type="submit" class= "btn btn-default" value="GUARDAR" />
                                      <tr> <input type="button" class= "btn btn-default" value="Volver" onClick = "location.href='/configuracion/equipo&id={{proyecto.id}}/sprint&id={{ sprint.id }}'"/></tr>
</form>
{% endblock%}
