{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block content %}
<center><h2 class="text-danger"><strong> Enviar a Release </strong></h2></center>

   {% if mensaje %}
      {% autoescape off %}
         <center><h3><p> SE HA PRODUCIDO EL SIGUIENTE INCONVENIENTE: </p></h3>
                 <h4><p><em> {{ mensaje }} </em></p></h4>
         </center>
      {% endautoescape %}
         <center><input type="button" class= "btn btn-default" value="VOLVER" onClick = "location.href='/configuracion&id={{proyecto.id}}/tablero' "/></center>
   {% else %}
      <form enctype="multipart/form-data" id="form_id" action="." method="POST">
       <center>{{ form.as_table }}</center>
         {% csrf_token %}
            <center><p>
                       <h4><strong>¿Enviara al : "{{userstory}}" a release?</strong></h4><br>
                       <span class="optionbuttons">
                          <input type="submit" class= "btn btn-default" value="SI"/>&nbsp;&nbsp;&nbsp;&nbsp;
	                  <input type="button" class= "btn btn-default" value="NO" onClick = "location.href='/configuracion&id={{proyecto.id}}/tablero' "/>
                       </span>
                    </p>
            </center>
      </form>

{% endif %}
{% endblock%}