{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}USER STORY : &lt;{{ user_story.nombre }}&gt;<br>{% endblock %}
{% block content %}

    <ol class="breadcrumb">
   <ol class="breadcrumb">
    <li><a class="text-danger" href="/principal"><strong>PÁGINA PRINCIPAL</strong></a></li>
                 <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}"><strong>ADMIN PROYECTO</strong></a></li>

  <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/sprint_bk/"><strong>SPRINTS</strong></a></li>
                        <li><a class="text-danger" href="/proyectos/admin&id={{ proyecto.id }}/release/"><strong>RELEASE</strong></a></li>

                        <li><a class="text-danger" href="/configuracion&id={{ proyecto.id }}/revisarus&id={{ user_story.id }}/"><strong>DETALLES DEL USER STORY</strong></a></li>


    <li class="active"><strong>HISTORIAL DE TAREAS</strong></li>
    </ol>
<center><h2 class="text-danger"><strong> HISTORIAL DE TAREAS REALIZADAS SOBRE EL USER STORY "{{ user_story.nombre }}" </strong></h2></center>
<!--condiciones-->
{% if lista %}

    <table class="table table-bordered">
	      <thead>
	        <tr>
                     <th class="titulo"><b class="text-danger"><strong>TAREA</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>Realizada por</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>En fecha</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>DESCRIPCIÓN</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>DURACION</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>En el Proyecto</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>En el Flujo</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>En la actividad</strong></b></th>
                     <th class="titulo"><b class="text-danger"><strong>ADJUNTO</strong></b></th>


            </tr>
                </thead>
 <tbody>
	{% for i in lista %}
	<tr>
        <td>{{ i.tarea.nombre }}</td>
        <td>{{ i.us.responsable }}</td>
        <td>{{i.fecha_modificacion}}</td>
		<td>{{i.tarea.descripcion}}</td>
        <td>{{i.tarea.tiempo}} horas</td>
        <td>{{ i.tarea.fluactpro.proyecto }}</td>
        <td>{{ i.tarea.fluactpro.flujo }}</td>
        <td>{{ i.tarea.fluactpro.actividades }}</td>
{% if i.adjunto.nombre != 'Ninguno' %}    	<td><a href = "/userstories&id={{i.us.proyecto.id}}/adj&id={{i.us.id}}/get&id={{i.adjunto.id}}/">{{i.adjunto.nombre}}</a></td>

{% else %}
            <td>{{ i.adjunto.nombre }}</td>
    {% endif %}



	</tr>
	{% endfor %}

               </tbody>
    </table>
          <input type="button" class= "btn btn-default" value="VOLVER" onClick ="location.href='/configuracion&id={{proyecto.id}}/tablero/' "/>


{% else %}
<ul>
    <li>No se ha registrado ningun cambio</li>
</ul>
{% endif %}


{% endblock%}
